<h2>Registrate con Fiducia</h2>
<br>

<br>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs sign-up-form-fields">
    <%= f.input :first_name,
                required: true,
                input_html: { autocomplete: "first name" },
                label: "Nombre" %>
    <%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "last name" },
                label: "Apellidos" %>
    <%= f.input :image, as: :file,
                label: "Foto de perfil" %>
    <%= f.input :phone_number,
                required: true,
                input_html: { autocomplete: "phone number" },
                label: "Numero de teléfono" %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label: "Email" %>
    <%= f.input :location,
                required: true,
                input_html: { autocomplete: "location" },
                label: "Dirección" %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" }, label: "Contraseña" %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" }, label: "Repite tu Contraseña" %>
    <%= f.input :contractor, label: "Rellena para registrarte como profesional", check_box_tag: "true", class: "check-contractor", id: "contractor-check" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrate" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

