<div class="true-cont-all">
  <div class="headers-contractor">
    <h2>Profesionales Disponibles</h2>
    <p>Podrás comunicarte con estos profesionales, ajustar detalles, o cambiar la tarea despues de confirmar tu reserva.</p>
  </div>
  <% @users.each do |user| %>
    <div class="contractor-card">
      <div class="contractor-card-left">
        <%= image_tag "avatar_prof", alt: "alttext", class: "avatar_prof" %> <br>
        <%= link_to "Perfil completo", class: "perfil-completo-btn" %>
      </div>
      <div class="contractor-card-right">
        <div class="contractor-right-top">
          <div class="contractor-right-text">
            <h3 class="name-contractor"><%= user.contractor_name %></h3>
            <div class="prof-elite">
              <%= image_tag "elite", alt: "alttext", class: "elite-icon" %>
              <p class="prof-text">Profesional de Élite</p>
            </div>

            <div class="prof-elite">
              <%= image_tag "star", alt: "alttext", class: "star-icon" %>
              <p class="prof-text">100% Reseñas Positivas</p>
            </div>

            <div class="prof-elite">
              <%= image_tag "seguro", alt: "alttext", class: "seguro-icon" %>
              <p class="prof-text">100% Seguro</p>
            </div>
          </div>
          <div class="contractor-right-price-confirm">
            <h5 class="contractor-price">20€/hr</h5>
            <%= link_to "Confirmar", new_enquiry_path, class: "confirm-prof-btn" %>
          </div>
        </div>
        <p><%= user.bio %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="footer">
  <div class="image-foot foot-col">
    <%= image_tag "logo_white", alt: "Fiducia logo blanco", class: "white-logo-foot" %>
  </div>
  <div class="first-foot-col foot-col">
    <h5>TRABAJA CON NOSOTROS</h5>
    <%= link_to "Empleo", "#", class: "foot-link"  %> <br>
    <%= link_to "Establecimientos asociados", "#", class: "foot-link"  %> <br>
    <%= link_to "Repartidores", "#", class: "foot-link"  %> <br>
    <%= link_to "Fiducia Business", "new_user_session_path", class: "foot-link"  %> <br>
  </div>
  <div class="second-foot-col foot-col">
    <h5>AYUDA</h5>
    <%= link_to "Preguntas frecuentes", "#", class: "foot-link" %> <br>
    <%= link_to "Contacto", "#", class: "foot-link" %>
  </div>
</div>
