<div class="container">

  <div class="greeting">
    <h1>Hi <%= @user.first_name.capitalize %>!</h1>
  </div>

  <div class="container-enquiries">
    <% if @user.pending_enquiries.empty? %>
      <h3>No Open Enquiries for <%= @user.contractor_name %></h3>
    <% else %>
      <h3>Open Enquiries</h3>
      <% @user.pending_enquiries.each do |enquiry| %>
        <div class="contractor-enquiry-card">
          <%= enquiry.title %>
          <%= enquiry.information %>
          <%= enquiry.convert_date %>
          <%= enquiry.timeslot %>
          <%= simple_form_for @job,
            wrapper: :inline_form,
            html: { class: 'form-inline' } do |f| %>
            <%= f.submit "Book This Job" %>
            <%= f.input :time, collection: enquiry.generate_times %>
            <%= f.hidden_field "enquiry_id", value: enquiry.id %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container-jobs">
    <% if @user.pending_jobs.empty? %>
      <h3>No upcoming jobs for <%= @user.contractor_name %></h3>
    <% else %>
      <h3>Upcoming Jobs</h3>
      <% @user.pending_jobs.each do |job| %>
        <div class="contractor-job-card">
          <%= job.time.strftime("%a %d/%m/%Y @ %-d%P") %>
          <%= job.enquiry.property_address %>
          <%= job.enquiry.user.first_name %>
          <%= job.enquiry.user.last_name %>
          <%= job.enquiry.title %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
