<div class="container">

  <div class="greeting">
    <h1>Hi <%= @user.first_name.capitalize %>!</h1>
  </div>

  <div class="container-profile">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item nav-label-custom">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#enquiries" role="tab" aria-controls="home" aria-selected="true">Enquiries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#jobs" role="tab" aria-controls="profile" aria-selected="false">Jobs</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div id="enquiries" class="tab-pane fade show active">
          <% @user.pending_enquiries.each do |enquiry| %>
            <div class="contractor-profile-card">
              <div class="hoverable d-flex">
                <div class="contractor-card-date">
                  <h5><%= enquiry.convert_date %></h5>
                  <p><%= enquiry.timeslot %></p>
                </div>
                <div class="contractor-card-job-info">
                  <h6><%= enquiry.title %></h6>
                  <p><%= enquiry.property_address %></p>
                </div>
                <div class="contractor-card-user-info">
                  <h6>Para</h6>
                  <p><%= enquiry.user.first_name.capitalize %> <%= enquiry.user.last_name.capitalize %></p>
                </div>

              </div>
            <div class="contractor-enquiry-card-info hidden">
              <p><%= enquiry.information %></p>
            </div>
              <div class="contractor-enquiry-card-form">
                <%= simple_form_for @job,
                wrapper: :inline_form,
                html: { class: 'form-inline' } do |f| %>
                  <%= f.input :time, collection: enquiry.generate_times %>
                  <%= f.hidden_field "enquiry_id", value: enquiry.id %>
                  <%= f.submit "Book This Job", class: 'btn-book-job' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div id="jobs" class="tab-pane fade in active">
          <% @user.pending_jobs.each do |job| %>
            <div class="contractor-profile-card">
              <div class="hoverable d-flex">
                <div class="contractor-card-date">
                  <h5><%= job.display_date %></h5>
                  <p><%= job.display_time %></p>
                </div>
                <div class="contractor-card-job-info">
                  <h6><%= job.enquiry.title %></h6>
                  <p><%= job.enquiry.property_address %></p>
                </div>
                <div class="contractor-card-user-info">
                  <h6>Para</h6>
                  <p><%= job.enquiry.user.first_name.capitalize %> <%= job.enquiry.user.last_name.capitalize %></p>
                </div>
              </div>
              <div class="hidden">
                <%= job.enquiry.information %>
              </div>
              <div class="contractor-enquiry-card-cancel">
                <%= link_to "Cancel Job",
                            job_path(job),
                            method: :delete,
                            data: { confirm: "Are you sure?" },
                            class: 'btn-cancel-job' %>
                <%= link_to "Mark as complete",
                            job_path(job, completed: true),
                            method: :patch,
                            class: 'btn-book-job' %>
              </div>
          <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
