console.log("HI");
document.querySelector(".true-cont-all").insertAdjacentHTML('beforeend',
  `<div class="pop-up-background">
    <div class="pop-up-content">
      <div class="pop-up-contents">
        <div class="top-pop-up">
          <% if @contractor.image.attached? %>
            <%= cl_image_tag @contractor.image.key, alt: "alttext", class: "avatar_prof" %> <br>
          <% else %>
            <%= image_tag "avatar.png", alt: "alttext", class: "avatar_prof" %> <br>
          <% end %>
          <h6 class="contractor-pop-name"><%= @contractor.contractor_name %></h6>
        </div>
        <div class="pop-up-form">
          <%= simple_form_for [ @enquiry ] do |f| %>
            <%= f.input :property_address, label: "Dirección" %>
            <%= f.input :information, label: "Descripción del trabajo" %>
            <%= f.input :date, html5: true, label: "Fecha" %>
            <%= f.input :timeslot, label: "Selecciona su disponibilidad", collection: ['Mañana', 'Tarde', 'Todo el día']%>
            <%= f.hidden_field "contractor_id", value: @contractor.id %>
            <%= f.hidden_field "title", value: "#{@profession.name} en #{@enquiry.property_address}" %>
            <%= f.submit "Confirmar", class: "confirmar-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>`);
